doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' rel='stylesheet')
        title Home
    body
        include ./header.pug
        main
            section
                h3.mainTitle Find your next Freelance Project
            article.searchHeader
                form.searchKeyword(action="/search", method="POST")
                    input(type="text", name="keyword", placeholder='Search by keyword...')
                    button(type="submit") Search
                form.searchSkill(action="/searchbyskill", method="POST")
                    input(type="text", name="skill", placeholder='Search by skill...')
                    button(type="submit") Search
            section
                if jobs.length > 0
                    each job in jobs
                        article.card(data-jobTitle=`${job.title}`)
                            h3.jobTitle #{job.title}
                            p.description #{job.description}
                            section.detailsContainer
                                section.skillsContainer
                                    p.skillsTitle Skills:
                                    div.skills
                                        each skill in job.skills
                                            p #{skill}
                                section.locationContainer
                                    p.locationTitle Client Location:
                                    p.location #{job.client_location}
                            section.cardButtons
                                a.jobButton(href=`${job.url}` target='_blank')
                                    button(type="button") Visit Offer
                                button.favButtonCreate(type="button" value=`${job._id}`)
                                    <i class="fa-regular fa-heart" style="color: #ffffff;"></i>
                else
                    p There are no new projects yet

                
        include ./footer.pug

        script.
            const jobs = !{JSON.stringify(jobs)};
            
        //- script(src="https://kit.fontawesome.com/84340c7e8d.js" crossorigin="anonymous")
        script(src="/js/scripts.js")